

.javier {
    display: inline-block;
    margin: 40px;
    font-size: larger;
    transform: scale(-1, 1);
    color: #1c87c9;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.pageHeader {
    display: flex;
    width: 800px;
    font-size: 3rem;
    background-color: rgb(178, 221, 59);
    font-style: oblique;
    border: 5px solid rgb(245, 157, 24);
    padding: 1em;
    margin: 1em;
}
